body {
    background-color: #ead8c2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.rimg {
    width: 500px;
    height: auto;
    background-color: white;
    padding: 16px 16px 60px 16px;
}

.header {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    padding: 10px 16px;
    background-color: wheat;
}

.hlinks {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.content1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 128px;
    height: 500px;
}

button {
    border-radius: 25px;
    border: 1px black solid;
    background-color: wheat;
    padding: 16px 32px;
    font-weight: bold;
}

.content1 img {
    border-radius: 25px;
    box-shadow: 1.7px 3.4px 3.4px hsl(0deg 0% 0% / 0.45);
}

.description {
    width: 450px;
}

.content2 {
    display: flex;
    background-color: wheat;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    height: 450px;
    justify-content: center;
    gap: 32px;
}

.deck {
    display: flex;
    margin-top: 32px;
    gap: 32px;
}

.card {
    text-align: center;
    max-width: 200px;
    height: auto;

}

.card img {
    width: 150px;
    height: auto;
    border-radius: 25px;
    box-shadow: 1.7px 3.4px 3.4px hsl(0deg 0% 0% / 0.45);
}

.content3 {
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: center;
    align-self: center;
    background-color: #ae866c;
}

.content3 p {
    font-size: xx-large;
    margin: 0px 420px;
    text-align: justify;
}

.content3 a {
    align-self: flex-end;
    font-weight: bold;
    margin-right: 420px;
}

.content4 {
    height: 400px;
    display: flex;
    flex: 0 1 0;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}

.action {
    display: flex;
    background-color: #543f3f;
    border-radius: 25px;
    margin: 64px;
    padding: 32px 128px;
    width: 1000px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.action a {
    color: #ead8c2;
    margin-bottom: 0px;
    font-size: x-large;
    font-weight: bold;
}

.action p {
    color: #ead8c2;
}

.footer {
    background-color: wheat;
    margin: 0px;
    padding: 32px;
    display: flex;
    justify-content: center;
}

